@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --black: #121423;
  --gray: #2b3743;
  --mid: #3e5c5e;
  --midTransparant: #3e5c5ef1;
  --darkGreen: #4e7c6e;
  --lightGreen: #90b7a0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: normal;
  /* height: 100vh; */
}

.nav {
  background-color: var(--gray);
  color: var(--mid);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;

  a:active,
  a:hover {
    background-color: var(--lightGreen);
    color: var(--gray);
    width: 100%;
  }
}

.navTitle {
  font-size: 1.4rem;
}

.links {
  display: flex;
  list-style: none;
}

.nav-link {
  font-size: 1.6rem;
  margin: 0.2rem 0.4rem;
}

a:link,
a:visited {
  color: var(--lightGreen);
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 0.4rem;
  margin: 0 0.4rem;
}

.test {
  background-color: var(--darkGreen);
  color: var(--lightGreen);
}

.main {
  color: var(--lightGreen);
  background-image: url("../images/jr-korpa-_OQ8Jc7kBmA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .card {
  min-height: calc(100vh - 14rem);
  width: 95vw;
  background-color: var(--midTransparant);
  border-radius: 1rem;
  margin: 2rem 0;
  line-height: 1.7rem;
  font-weight: 60;
  font-size: 1.2rem;
  padding: 2rem 1.6rem;
  font-family: "Ubuntu Mono", monospace;
}

.main .card p {
  margin-bottom: 1.2rem;
}

.footer {
  background-color: var(--gray);
  color: var(--mid);
  height: 10rem;
}

.footer .social {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer .social .fab,
.footer .social .fas {
  font-size: 3rem;
  margin: 0.5rem 0.6rem;
}

@media only screen and (min-width: 800px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .navTitle {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .main {
    /* height: calc(100vh - 8rem); */
  }

  .main .card {
    columns: 2;
    gap: 2rem;
    padding: 4rem 4rem;
  }

  .footer {
    height: 4rem;
  }

  .footer .social {
    justify-content: flex-end;
  }
}
