@import url("https://fonts.googleapis.com/css2?family=Montserrat");

:root {
  --teal: #437c90;
  --black: #0b4f6c;
  --white: #ffffff;
  --blue: #1e91d6;
  --midblue: #006989;
  --headingTextSize: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
}
