@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --black: #121423;
  --gray: #2b3743;
  --mid: #3e5c5e;
  --darkGreen: #4e7c6e;
  --lightGreen: #90b7a0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: var(--gray);
  color: var(--mid);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.navTitle {
  margin-top: 0.4rem;
  font-size: 2rem;
  font-weight: normal;
}

.links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin: 0 1.6rem;
  font-size: 1.4rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--lightGreen);
  text-decoration: none;
}

.main {
  color: var(--lightGreen);
  height: 80vh;
  background-image: url("../images/jr-korpa-_OQ8Jc7kBmA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  height: 10vh;
  background-color: var(--gray);
  color: var(--mid);
}

.footer .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.footer .social .fab,
.footer .social .fas {
  font-size: 8vh;
  padding: 0.4rem;
}

@media only screen and (min-width: 800px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .footer .social {
    justify-content: flex-end;
  }
}
